* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    color: white;
}
:root {
    --backgroundActive: rgb(0, 182, 0);
    --bacgroundSecondary: rgb(240, 168, 0);
    --navbar-height: 85px;
}
.mt-4 {
    margin-top: 2em;
}
body {
    background-image: url("../assets/Fundo.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
li {
    list-style-type: none;
}
header {
    width: 100%;
}

header nav {
    padding: 2em;
}
header nav ul {
    display: flex;
    align-items: center;
}
header nav ul li img {
    height: 35px;
}
header nav ul li h2 {
    font-size: 20px;
    margin-left: 10px;
}
header nav ul li .circle {
    height: 10px;
    width: 10px;
    background-color: var(--backgroundActive);
    border-radius: 100px;
    display: flex;
    border: solid 1px #5f0000;
    margin-left: 10px;
}

article {
    padding: 3em 0 calc(3em + var(--navbar-height)) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* BODY */
article .title {
    text-align: center;
    font-size: 18px;
}
article .primary {
    display: flex;
    flex-direction: column;
    width: 80%;
}

article .primary .bar {
    height: 20px;
    border-radius: 10px;
    background-color: white;
    margin: 4em 0;
    display: flex;
    align-items: center;
    position: relative;
}
article .primary .bar img {
    height: 70px;
    position: absolute;
    left: 0;
}
article .primary .bar span {
    height: 100%;
    background-color: var(--backgroundActive);
    border-radius: 100px;
}
article .primary .buttons {
    display: flex;
    justify-content: space-between;
}
article .primary .buttons button {
    padding: 7px 18px;
    font-size: 16px;
    border-radius: 100px;
    font-weight: bold;
}

article .primary .buttons .btn-success {
    border: solid 2px var(--backgroundActive);
    background-color: var(--backgroundActive);
}
article .primary .buttons .btn-primary {
    border: solid 2px var(--bacgroundSecondary);
    background-color: var(--bacgroundSecondary);
}
article .primary .buttons .btn-disabled {
    border: solid 2px #525252;
    background-color: #525252;
}

article .primary .time {
    height: 120px;
    width: 100%;
    border: solid 2px blueviolet;
    margin-top: 2em;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
article .primary .time h1 {
    font-size: 55px;
    line-height: 60px;
    font-weight: bold;
}
article .primary .time h3 {
    font-size: 22px;
    font-weight: bold;
}

article .primary .active_button {
    width: 100%;
    border: solid 2px white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    border-radius: 10px;
    position: relative;
    height: 80px;
}

article .primary .active_button h3 {
    font-size: 20px;
    text-transform: uppercase;
    z-index: 1;
}

article .primary .active_button span {
    height: 100%;
    background-color: var(--bacgroundSecondary);
    position: absolute;
    left: 0;
    border-radius: 10px;
}

#navbar {
    position: fixed;
    height: var(--navbar-height);
    background-color: rgba(20, 20, 20, 0.615);
    backdrop-filter: blur(5px);
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 15px 15px 0 0;
    z-index: 9;
}
#navbar ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    padding: 0 1em;
    height: 100%;
}
#navbar ul li {
    text-align: center;
    height: 100%;
}
#navbar ul li a {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#navbar ul li a svg {
    fill: rgb(232, 232, 232);
    margin: 2px 0;
    padding: 12px;
    border-radius: 10px;
}

#navbar ul li.active a svg {
    fill: rgb(0, 0, 0);
    background-color: red;
    padding: 12px;
    border-radius: 10px;
}

#navbar ul li a p {
    color: rgb(232, 232, 232);
    font-size: 14px;
}
#home {
    padding: 0 1em;
}
#home h1 {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    margin-top: 0.5em;
}

#home .btn-home {
    width: 100%;
    padding: 0.5em 0;
    border: solid 1px white;
    display: flex;
    justify-content: center;
}

#home .btn-home span {
    margin-right: 5px;
    color: white;
    border: none;
}


#iframe-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    border: none;
}

#iframe-main .sub {
    width: 90%;
    border: none;
}

#iframe-main .sub iframe {
    border: none;
    height: 80vh;
    width: 100%;
}