* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    color: white;
}
:root {
    --backgroundActive: rgb(0, 182, 0);
    --bacgroundSecondary: rgb(240, 168, 0);
    --navbar-height: 85px;
    --backgroundPrimary: #bc144c
}
.mt-1 {
    margin-top: 0.5em;
}
.mt-2 {
    margin-top: 1em;
}
.mt-4 {
    margin-top: 2em;
}
.btn-primary {
    background-color: var(--backgroundPrimary) !important;
    border: solid 2px var(--backgroundPrimary) !important;
}
body {
    background-image: url("../assets/back2.jpeg");
    background-size: 100%;
    /* background-repeat: no-repeat; */
    /* background-image: linear-gradient(to right, #0b0b0bf5, #151515f5); */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
li {
    list-style-type: none;
}
header {
    width: 100%;
}

header nav {
    padding: 2em;
}
header nav ul {
    display: flex;
    align-items: center;
}
header nav ul li img {
    height: 30px;
}
header nav ul li h2 {
    font-size: 14px;
    margin-left: 10px;
    font-weight: 500;
}
header nav ul li .circle {
    height: 16px;
    width: 16px;
    background-color: var(--backgroundActive);
    border-radius: 100px;
    display: flex;
    margin-left: 10px;
}

article {
    padding: 3em 0 calc(3em + var(--navbar-height)) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* BODY */
article .title {
    text-align: center;
    font-size: 18px;
}
article .primary {
    display: flex;
    flex-direction: column;
    width: 80%;
}

article .primary .bar {
    height: 20px;
    border-radius: 5px;
    background-color: white;
    margin: 4em 0;
    display: flex;
    align-items: center;
    position: relative;
}
article .primary .bar img {
    height: 50px;
    position: absolute;
    left: 0;
}
article .primary .bar span {
    height: 100%;
    background-color: #bc144c;
    border-radius: 5px;
}
article .primary .buttons {
    display: flex;
    justify-content: space-between;
}
article .primary .buttons button {
    padding: 7px 18px;
    font-size: 16px;
    border-radius: 12px;
    font-weight: bold;
}

article .primary .buttons .btn-success {
    border: solid 2px var(--backgroundActive);
    background-color: var(--backgroundActive);
}
article .primary .buttons .btn-primary {
    border: solid 2px var(--bacgroundSecondary);
    background-color: var(--bacgroundSecondary);
}
article .primary .buttons .btn-disabled {
    border: solid 2px #525252;
    background-color: #525252;
}

article .primary .time {
    height: 120px;
    width: 100%;
    border: solid 2px blueviolet;
    margin-top: 2em;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
article .primary .time h1 {
    font-size: 55px;
    line-height: 60px;
    font-weight: bold;
}
article .primary .time h3 {
    font-size: 22px;
    font-weight: bold;
}

article .primary .active_button {
    width: 100%;
    border: solid 2px var(--backgroundPrimary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    border-radius: 1000px;
    position: relative;
    height: 60px;
    z-index: 1;
    overflow: hidden;
}

article .primary .active_button h3 {
    font-size: 18px;
    text-transform: uppercase;
    z-index: 2;
}

article .primary .active_button span {
    height: 100%;
    background-color: var(--backgroundPrimary);
    position: absolute;
    left: 0;
    border-radius: 1000px;
}

#navbar {
    position: fixed;
    height: var(--navbar-height);
    background-color: rgba(20, 20, 20, 0.902);
    backdrop-filter: blur(5px);
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 15px 15px 0 0;
    z-index: 9;
}
#navbar ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    padding: 0 1em;
    height: 100%;
}
#navbar ul li {
    text-align: center;
    height: 100%;
}
#navbar ul li a {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#navbar ul li a svg {
    fill: rgb(232, 232, 232);
    margin: 2px 0;
    padding: 12px;
    border-radius: 10px;
}

#navbar ul li.active a svg {
    fill: rgb(0, 0, 0);
    background-color: red;
    padding: 12px;
    border-radius: 10px;
}

#navbar ul li a p {
    color: rgb(232, 232, 232);
    font-size: 14px;
}
#home {
    padding: 0 1em;
}
#home h1 {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    margin-top: 0.5em;
}

.btn-home {
    width: 100%;
    padding: 0.8em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    border-radius: 8px;
    font-weight: 500;
    font-size: 20px;
}

.btn-home.color1 {
    background-image: linear-gradient(to right, #64fbf1, #00ffee);
}
.btn-home.color2 {
    background-image: linear-gradient(to right, #ffae00, #ff00b7);
}
.btn-home.color1 p {
    color: #000;
}
.btn-home.color2 p {
    color: #000;
}
.btn-home span, #home .btn-home svg {
    margin-right: 5px;
    color: rgb(0, 0, 0);
    border: none !important;
    text-decoration: none !important;
    font-size: 26px;
}


#iframe-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    border: none;
}

#iframe-main .sub {
    width: 90%;
    border: none;
}

#iframe-main .sub iframe {
    border: none;
    height: 76vh;
    width: 100%;
}


body:-webkit-full-page-media {
    background-color: red;
}


#academy, #classe {
    padding-left: 1em;
    padding-right: 1em;
}
#box_videos {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#box_videos li {
    width: 100%;
    display: flex;
    margin-bottom: 2em ;
    position: relative;
    height: 180px;
}
#box_videos li .iframe-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('preview-image.jpg') no-repeat center center;
    background-size: cover;
    cursor: pointer;
    border-radius: 10px; 
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box_videos li .iframe-cover span {
    position: absolute;
    z-index: 2;
    color: black;
    font-size: 40px;
}
#box_videos li iframe {
    border: solid 2px red;
    border-radius: 10px; 
    width: 100%;
    height: 100%;
}


#select_page {
    padding-bottom: 100em;
}
#select_page h1 {
    text-align: center;
    padding: 2em 0.5em 2em 0.5em;
    font-size: 20px;
}
#select_page h1 .color {
    color: var(--backgroundPrimary);
}

#select_page ul {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 30px; 
    padding: 10px 20px;
}
#select_page ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
}
#select_page ul li a img {
    width: 60%;
}